/*******************************************************
Formatting for each suitcase item -- associated with
SuitcaseItem.js 
*******************************************************/

/* overall item border and padding */
.suitcase-item {
  border: 1px grey solid;
  padding: 2px;
}

/* header - the name of item and quantity */
.suitcase-item-header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}

/* notes for each suitcase item */
.suitcase-item-notes {
  font-size: 14px;
  font-style: italic;
  border-top: 1px grey solid;
}

/* the delete button */
.suitcase-item-delete {
  display: flex;
  justify-content: flex-end;
}

.suitcase-item-delete p {
  color: red;
  font-size: 24px;
  margin: 0;
  text-align: center;
  max-width: 24px;
}

/*******************************************************
Overall suitcase component formatting
*******************************************************/

/* contains both the suitcase list itself and the 
suitcase form */
.suitcase-wrapper {
  display: flex;
  justify-content: space-between;
}

/* this is the container for the list of items already added */
.suitcase {
  margin: 5px 0;
  width: 45%;
}

/* each line of the input form is a suitcase-form-input */
.suitcase-form-input {
  padding: 2px 0;
}

/* wrapper for suitcase to set the font size and the width */
.suitcase-form-wrapper {
  width: 45%;
  font-size: 20px;
}

/* class name used to make the suitcase form not display: flex */
.suitcase-form {
  display: block;
  border: 1px grey solid;
  margin: 5px 0;
  padding: 10px;
}
/* 
.suitcase-item-update-area {
  display: none;
} */

.suitcase-form-input-area {
  margin: 5px;
  width: 100%;
  box-sizing: border-box;
}

.suitcase-form-submit {
  width: 35%;
  padding: 5px;
}
