:root {
  font-size: calc(0.5vh + 0.5vw + 1vmin);
}

.container-div {
  background-image: linear-gradient(
      rgba(255, 153, 255, 0.5),
      rgba(153, 204, 255, 0.5)
    ),
    url('../../../images/backgroundimglanding.jpg');
  min-width: 100vw;
  min-height: 100vh;
  background-size: 100vh, 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  width: 50vw;
  height: auto;
  margin: auto;
  font-family: 'Cantarell', sans-serif;
  opacity: 0.8;
}

.card-body {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

a {
  font-family: 'Cantarell', sans-serif;
}

h1 {
  font-size: 2.4rem;
}

p {
  line-height: 1.7rem;
}

h2 {
  font-size: 1.4rem;
}
