:root {
  font-size: calc(0.5vh + 0.5vw + 1vmin);
}

.container {
  background-image: linear-gradient(
      rgba(255, 153, 255, 0.5),
      rgba(153, 204, 255, 0.5)
    ),
    url('../../../images/backgroundimglanding.jpg');
  min-width: 100vw;
  min-height: 100vh;
  background-size: 100vh, 100vw;
  display: flex;
  justify-content: center;
}

.user-content {
  width: 80vw;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.btn {
  font-size: 14px;
}

.user-greeting {
  padding-left: 20px;
}

.user-dashboard {
  display: flex;
  justify-content: center;
  /* border-top: 1px grey solid; */
}

.user-dashboard-info {
  padding-top: 20px;
  width: 95%;
}

table {
  border-collapse: separate;
  border: solid grey 1px;

  border-radius: 5px;

  width: 100%;
}

th {
  /* border: 1px solid gray; */
  padding: 20px;
  text-align: center;
}

td,
th {
  border-left: solid grey 1px;
  border-top: solid grey 1px;
}

td:first-child,
th:first-child {
  border-left: none;
}

a {
  font-family: 'Cantarell', sans-serif;
}

h1 {
  font-size: 2.4rem;
}

p {
  line-height: 1.7rem;
}

h2 {
  font-size: 1.4rem;
}
