/* https://www.pexels.com/photo/seaport-during-daytime-132037/ */
body {
    background: url(../../../images/seaportDuringDaytime.jpeg) no-repeat center center fixed;
}

div h1, div h2, #contactForm textarea, #contactFrom textarea::placeholder {
    font-family: 'Quicksand', sans-serif;
}

div h1 {
    margin-top: 24px;
    font-size: 24px;
    text-align: center;
}

#pageSizing {
    height: 88vh;
    display: grid;
    justify-content: center;
}

#contactFormContainer {
    background-color: rgba(267, 221, 221, .7);
    width: 85vw;
    height: 52vh;
    margin-top: 10vw;
    border-radius: 5px;
}

#contactForm {
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: 10px 50px 10px 120px 20px;
    grid-row-gap: 20px;
}

#contactForm button{
    width: 70px;
    height: 25px;
    border-radius: 5px;
}

#contactForm textarea {
    color: #222;
    border-radius: 5px;
    border-color: #888;
    background-color: rgba(0, 0, 0, 0);
    /* font-family: 'Noto Serif SC', serif; */
}

#contactForm textarea::placeholder {
    color: #222;
}