.suitcase-item-header {
  display: flex;
  justify-content: space-between;

  font-size: 18px;
  font-weight: bold;
}

.suitcase-item {
  width: 45%;
  border: 1px grey solid;
  padding: 2px;
}

.suitcase {
  margin: 5px;
}

.suitcase-item-delete {
  color: red;
  font-size: 24px;
  margin: 0;
  text-align: right;
}

.suitcase-notes {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}

.suitcase-form-input {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
}

.suitcase-form {
  width: 45%;
}
