* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.flightsContent {
  background-color: #fff;
  opacity: 0.8;
  width: 730px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.flightResult {
  background-color: #e8e8e8;
  height: 60px;
  width: 700px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.airlineName {
  width: 310px;
  display: inline-block;
  font-size: 0.9em;
  margin-top: 15px;
  text-align: center;
  line-height: 2.1em;
  font-weight: bold;
}
.flightTimes {
  display: inline-block;
  width: 130px;
  text-align: center;
}
.startTime {
  display: inline-block;
  width: 60px;
  text-align: center;
  font-size: 0.8em;
}
.endTime {
  display: inline-block;
  width: 60px;
  text-align: center;
  font-size: 0.8em;
}
.airportNames {
  display: inline-block;
  width: 110px;
  text-align: center;
  font-style: italic;
}
.startAirport {
  display: inline-block;
  font-size: 0.8em;
}
.endAirport {
  display: inline-block;
  font-size: 0.8em;
}
.flightFare {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 70px;
}
.selectBtn {
  color: white;
  background-image: linear-gradient(135deg, #ff690f 0%, #e8381b 100%);
}
.selectBtn:hover {
  background-image: linear-gradient(135deg, #b14b0c 0%, #8a2110 100%);
}
.selectBtn:active {
  color: black;
}
.selectBtn:focus {
  box-shadow: none;
}

@media screen and (max-width: 760px) and (min-width: 501px) {
  .flightsContent {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .flightResult {
    width: 95%;
    height: 90px;
  }
  .airlineName {
    display: block;
  }
  .flightTimes {
    margin-left: 10px;
  }
  .airportNames {
    margin-left: 30px;
  }
  .flightFare {
    float: right;
    margin-top: -34px;
    margin-right: 14%;
  }
  .selectBtn {
    width: 30%;
    clear: both;
    float: right;
    margin-top: -6px;
    margin-right: 5%;
  }
}

@media screen and (max-width: 500px) {
  .flightsContent {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .flightResult {
    width: 95%;
    height: 170px;
  }
  .airlineName {
    width: 100%;
  }
  .flightTimes {
    margin-left: 20%;
  }
  .flightFare {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 15px;
  }
  .selectBtn {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: block;
    margin-top: 5px;
  }
}